@media (min-width: 375px) {
    .gift {
        &__img {
            right: 20%;
            bottom: -16.5px;
            max-width: 84px;
        }
    }
}

@media (max-width: 359px) {
    .more-products {
        &--lg {
            .more-products {
                &__item {
                    max-width: 180px;
                    min-width: 180px;
                }
            }
        }
    }
}