@media (min-width: 375px) {
    .gift {
        &__img {
            right: 20%;
            bottom: -16.5px;
            max-width: 84px;
        }
    }
}

@media (min-width: 360px) {
    .comparison {
        &__slider {
            .swiper-controls {
                top: 297px;
            }
        }
        &__img {
            height: 160px;
        }
    }
}

@media (max-width: 359px) {
    .more-products {
        &--lg {
            .more-products {
                &__item {
                    max-width: 180px;
                    min-width: 180px;
                }
            }
        }
    }
    .comparison {
        &__slider {
            .swiper-controls {
                top: 273px;
            }
        }
        &__img {
            height: 136px;
        }
    }
}