.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba($strong-black-color, 0.2);
    transition: all 0.4s;
    &--active {
        visibility: visible;
        opacity: 1;
    }
}

.swipe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1011;
    width: 100%;
    height: 10%;
    visibility: hidden;
    opacity: 0;
    &--active {
        visibility: visible;
        opacity: 1;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.modal {
    position: fixed;
    z-index: 1010;
    visibility: hidden;
    max-height: 90vh;
    background: $white-color;
    transition: all 0.45s ease-in-out;
    &--sm {
        max-height: 256px;
    }
    &--active {
        visibility: visible;
        transform: translateY(0);
    }

    @media screen and (min-width: 768px) {
        top: 50%;
        left: 50%;
        width: 472px;
        transform: translate(-50%, 100%);
        &--sm {
            transform: translate(-50%, 200%);
            width: 360px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            .modal__content {
                padding: 0 20px 20px;
            }
        }
        &--ultra {
            width: 90%;
        }
        &--active {
            transform: translate(-50%, -50%);
        }
    }
    @media screen and (max-width: 767px) {
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        &--active {
            transform: translateY(0);
        }
    }

    &__top {
        display: flex;
        justify-content: flex-end;
        padding: 12px;
        background: $white-color;
    }
    &__close {
        width: 32px;
        height: 32px;
        background-image: url(../img/dist/sprite.svg#icon-close-black);
        background-repeat: no-repeat;
        background-size: 26px;
        background-position: center center;
    }
    &__content {
        padding: 0 12px 40px;
        max-height: calc(90vh - 56px);
        height: 100%;
        overflow-y: auto;

        @media screen and (min-width: 768px) {
            padding: 0 56px 56px;
        }
        @media screen and (max-width: 767px) {
            padding: 0 12px 40px;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-family: $russo-one;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        &--left {
            text-align: left;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        overflow: hidden;
        max-width: 56px;
        max-height: 56px;
        width: 100%;
        height: 100%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__img + &__description {
        margin-left: 8px;
    }
    &__description {
        font-size: 14px;
    }
    &__btn {
        width: 100%;
    }
    &__btn + &__btn {
        margin-top: 12px;
    }
}

.modal-form {
    margin-top: 24px;
    &__input-group,
    &__input {
        width: 100%;
    }
    &__input-group + &__input-group,
    &__input-group + &__select {
        margin-top: 24px;
    }
    &__select {
        height: 59px;
        .select-box__container {
            top: 67px;
            &--active {
                max-height: 227px;
            }
        }
        .select-box__option {
            padding: 12px 22px;
        }
        .select-box__label {
            font-size: 18px;
        }
        .select-box__selected {
            padding: 19px 22px;
            font-size: 18px;
            &::after {
                right: 12px;
                background-size: 18px;
            }
        }
    }
    &__checkbox {
        margin-top: 24px;
    }
    &__btn {
        margin-top: 24px;
        width: 100%;
    }
    &__copyright {
        margin-top: 12px;
        font-size: 12px;
        font-weight: normal;
        color: $gray-color;
        a {
            display: inline;
            text-decoration: underline;
        }
    }
}