.simplebar-track.simplebar-horizontal {
    height: 5px;
    background: transparent;
    background-clip: content-box;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    top: 0;
    height: 5px;
}
.simplebar-scrollbar {
    &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        background: $finntrail-red-color;
        border-radius: 4px;
    }
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
}
.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}